{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock title %}
{% block Home %}


<div
    class="container"
>
<h1  >This is home</h1>
    <div class="row">

    {% for i in data %}
  <div class="col-4 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title: {{i.title}}</h5>
        <p class="card-text"> {{i.content |truncatechars:200}} </p>
         <p> Author: {{i.author.first_name}} {{i.author.last_name}}</p>
       {% for j in i.category.all %}
       
        <button class="btn btn-info btn-sm m-2 " disabled > {{j}} </button>
       {% endfor %}

    <p> 

      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock Home %}