{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block passchange %}
  <div class="container " >
      <form class="w-50 " style="margin:auto; margin-top:10%;" novalidate method="POST"  >
       
        <h1>Password Change Page </h1>
         {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
        <p class="bg-danger p-3 my-2 text-white">{{er}}</p>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
          <!--{{form|crispy}}-->
          {% for fm in form %}
          {{fm.label_tag}}
          {{fm}}
          <p class='text-danger' >{{fm.errors |striptags }}</p>
          {% endfor %}        
          <br>
          <button button type="submit"class="btn my-3 btn-warning">
          Login
        </button>
        
      </form>
    </div>
{% endblock passchange %}